@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

:root {
	--text-color: #f7e0fd;
	--background-color: #100a1f;
}

body {
	margin: 0;

	font-family: "Comfortaa", cursive;
}

.landing {
	width: 100vw;
	height: 100vh;

	background-color: var(--background-color);
	color: var(--text-color);

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.landing img {
	width: 15em;
	height: 15em;

	border-radius: 5em;
}

.landing input {
	width: 10em;
	height: 3.3em;

	background-color: var(--text-color);
	color: var(--background-color);

	border: none;
	border-radius: 2.5em;

	font-family: "Comfortaa", cursive;
	font-weight: bold;
}
